Frontend/**/node_modules/
Frontend/**/dist/
Frontend/**/dist-ssr
Frontend/**/.vite/
Frontend/**/.env
Frontend/**/.env.local
Frontend/**/.env.*.local
Frontend/**/npm-debug.log*
Frontend/**/yarn-debug.log*
Frontend/**/yarn-error.log*
Frontend/**/pnpm-debug.log*
Frontend/**/lerna-debug.log*
Frontend/**/.vscode/

Backend/**/bin/
Backend/**/obj/
Backend/**/.vs/
Backend/**/.vscode/
Backend/**/wwwroot
Backend/**/appsettings.Development.json
Backend/**/appsettings.json
Backend/**/Properties/
Backend/**/*.user
Backend/**/Migrations
